* {
    font-family: "Ubuntu", "system-ui";
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all 0.2s linear;
    /* Scroll bar */
    ::-webkit-scrollbar {
        width: 3px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Ubuntu", "system-ui";
}

.hoverIcon:hover {
    transform: scale(1.1);
}

/* .studentCard:hover {
    transform: scale(1.01);
} */

.primaryButton {
    background-color: #2c5282;
    color: #fff;
    border: 1px solid #2c5282;
}

.primaryButton:hover {
    background-color: transparent;
    color: #2c5282;
}
