* {
    font-family: "Ubuntu", "system-ui";
}

.hoverIcon,
.studentCard {
    transition: transform 0.2s linear;
}
.hoverIcon:hover {
    transform: scale(1.1);
}

.studentCard:hover {
    transform: scale(1.01);
}

.primaryButton{
    background-color: #2C5282;
    color: #fff ;
    border: 1px solid #2C5282;
       
}

.primaryButton:hover{

    background-color: transparent;
    color: #2C5282;    
}